
@{
    ViewData["Title"] = "AppSettings";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Dashboard/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Master Settings</li>
            <li class="breadcrumb-item active">App Settings</li>

        </ol>
    </div>

</div>

<form asp-action="CreateProductType">

    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
        <div asp-validation-summary="All" class="alert alert-danger alert-error">
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    }


    <div class="container-fluid my-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row div_right">
                        <button type="submit" name="save" class="btn btn-primary btn-sm pull-right">
                            <i class="icon-save mr-2"></i>
                            Save
                        </button>
                        <button type="submit" name="save-continue" class="btn btn-primary btn-sm pull-right ml-2 margin-right5">
                            <i class="icon-save mr-2"></i>
                            Save And Countinue
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12">
                <div class="card bg-white mb-3 font-weight-bold">
                    <div class="card-header text-primary">App Settings</div>
                    <div class="card-body">
                        <div class="card-title"></div>

                        <!--Add Product Type Details -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Site Title</label>
                                            <input class="form-control s-12" type="text" id="SiteTitle" name="SiteTitle" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Site Name</label>
                                            <input class="form-control s-12" type="text" id="SiteName" name="SiteName" value="">

                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control s-12" type="text" id="Address" name="Address" value="">

                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <input class="form-control s-12" type="text" id="City" name="City" value="">

                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <input class="form-control s-12" type="text" id="State" name="State" value="">

                                        </div>
                                        <div class="form-group">
                                            <label>Country</label>
                                            <input class="form-control s-12" type="text" id="Country" name="Country" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Pin Code</label>
                                            <input class="form-control s-12" type="text" id="PinCode" name="PinCode" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Latitude</label>
                                            <input class="form-control s-12" type="text" id="Latitude" name="Latitude" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input class="form-control s-12" type="text" id="Longitude" name="Longitude" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Ios Url</label>
                                            <input class="form-control s-12" type="text" id="IosUrl" name="IosUrl" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Android Url</label>
                                            <input class="form-control s-12" type="text" id="AndroidUrl" name="AndroidUrl" value="">
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Facebook Url</label>
                                            <input class="form-control s-12" type="text" id="FacebookUrl" name="FacebookUrl" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Google Api</label>
                                            <input class="form-control s-12" type="text" id="GoogleApi" name="GoogleApi" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input class="form-control s-12" type="text" id="Phone" name="Phone" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Land Line</label>
                                            <input class="form-control s-12" type="text" id="LandLine" name="LandLine" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Fax</label>
                                            <input class="form-control s-12" type="text" id="Fax" name="Fax" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Contact Email</label>
                                            <input class="form-control s-12" type="text" id="ContactEmail" name="ContactEmail" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Restaurent Timings</label>
                                            <input class="form-control s-12" type="text" id="RestaurentTimings" name="RestaurentTimings" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Notifications</label>
                                            <input type="text" name="Notifications" id="Notifications" class="form-control s-12" />
                                        </div>
                                        <div class="form-group">
                                            <label>Design By</label>
                                            <input type="text" name="DesignBy" id="DesignBy" class="form-control s-12" />
                                        </div>
                                        <div class="form-group">
                                            <label>Rights Reserved</label>
                                            <input type="text" name="RightsReserved" id="RightsReserved" class="form-control s-12" />
                                        </div>
                                        <div class="form-group">
                                            <label>Site Logo</label>
                                            <input type="file" name="SiteLogo" id="SiteLogo" class="form-control s-12" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--   <div class="row">
                                <div class="col-md-2 text-right">
                                    <label class="text-right">First Name</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="Customer's First Name" class="form-control s-12" type="text" id="BillingAddress_FirstName" name="BillingAddress.FirstName" value="">
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <label class="text-right">Address</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="1234 Main St " class="form-control s-12" type="text" id="BillingAddress_Address1" name="BillingAddress.Address1" value="">
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-1">
                                <div class="col-md-2 text-right">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="Customer's Last Name" class="form-control s-12 " type="text" id="BillingAddress_LastName" name="BillingAddress.LastName" value="">
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <label>Address2</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="Apartment, studio, or floor" class="form-control s-12 " type="text" id="BillingAddress_Address2" name="BillingAddress.Address2" value="">
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-1">
                                <div class="col-md-2 text-right">
                                    <label>Email Id</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="Customer's Email Id" class="form-control s-12 " type="text" id="BillingAddress_Email" name="BillingAddress.Email" value="">
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <label>Country</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="select2 select2-hidden-accessible" onchange="GetStateByCountryId(0)" id="BillingAddress_CountryId" name="BillingAddress.CountryId" tabindex="-1" aria-hidden="true">
                                            <option value="0">Select Country</option>
                                            <option value="1">United States</option>
                                            <option value="88">Afghanistan</option>
                                            <option value="89">Albania</option>
                                            <option value="90">Algeria</option>
                                            <option value="91">American Samoa</option>
                                            <option value="92">Andorra</option>
                                            <option value="93">Angola</option>
                                            <option value="94">Anguilla</option>
                                            <option value="95">Antarctica</option>
                                            <option value="96">Antigua and Barbuda</option>
                                            <option value="3">Argentina</option>
                                            <option value="4">Armenia</option>
                                            <option value="5">Aruba</option>
                                            <option value="6">Australia</option>
                                            <option value="7">Austria</option>
                                            <option value="8">Azerbaijan</option>
                                            <option value="9">Bahamas</option>
                                            <option value="97">Bahrain</option>
                                            <option value="10">Bangladesh</option>
                                            <option value="98">Barbados</option>
                                            <option value="11">Belarus</option>
                                            <option value="12">Belgium</option>
                                            <option value="13">Belize</option>
                                            <option value="99">Benin</option>
                                            <option value="14">Bermuda</option>
                                            <option value="100">Bhutan</option>
                                            <option value="15">Bolivia</option>
                                            <option value="16">Bosnia and Herzegowina</option>
                                            <option value="101">Botswana</option>
                                            <option value="102">Bouvet Island</option>
                                            <option value="17">Brazil</option>
                                            <option value="103">British Indian Ocean Territory</option>
                                            <option value="104">Brunei Darussalam</option>
                                            <option value="18">Bulgaria</option>
                                            <option value="105">Burkina Faso</option>
                                            <option value="106">Burundi</option>
                                            <option value="107">Cambodia</option>
                                            <option value="108">Cameroon</option>
                                            <option value="2">Canada</option>
                                            <option value="109">Cape Verde</option>
                                            <option value="19">Cayman Islands</option>
                                            <option value="110">Central African Republic</option>
                                            <option value="111">Chad</option>
                                            <option value="20">Chile</option>
                                            <option value="21">China</option>
                                            <option value="112">Christmas Island</option>
                                            <option value="113">Cocos (Keeling) Islands</option>
                                            <option value="22">Colombia</option>
                                            <option value="114">Comoros</option>
                                            <option value="115">Congo</option>
                                            <option value="116">Congo (Democratic Republic of the)</option>
                                            <option value="117">Cook Islands</option>
                                            <option value="23">Costa Rica</option>
                                            <option value="118">Cote D'Ivoire</option>
                                            <option value="24">Croatia</option>
                                            <option value="25">Cuba</option>
                                            <option value="26">Cyprus</option>
                                            <option value="27">Czech Republic</option>
                                            <option value="28">Denmark</option>
                                            <option value="119">Djibouti</option>
                                            <option value="120">Dominica</option>
                                            <option value="29">Dominican Republic</option>
                                            <option value="30">East Timor</option>
                                            <option value="31">Ecuador</option>
                                            <option value="32">Egypt</option>
                                            <option value="121">El Salvador</option>
                                            <option value="122">Equatorial Guinea</option>
                                            <option value="123">Eritrea</option>
                                            <option value="124">Estonia</option>
                                            <option value="125">Ethiopia</option>
                                            <option value="126">Falkland Islands (Malvinas)</option>
                                            <option value="127">Faroe Islands</option>
                                            <option value="128">Fiji</option>
                                            <option value="33">Finland</option>
                                            <option value="34">France</option>
                                            <option value="129">French Guiana</option>
                                            <option value="130">French Polynesia</option>
                                            <option value="131">French Southern Territories</option>
                                            <option value="132">Gabon</option>
                                            <option value="133">Gambia</option>
                                            <option value="35">Georgia</option>
                                            <option value="36">Germany</option>
                                            <option value="134">Ghana</option>
                                            <option value="37">Gibraltar</option>
                                            <option value="38">Greece</option>
                                            <option value="135">Greenland</option>
                                            <option value="136">Grenada</option>
                                            <option value="137">Guadeloupe</option>
                                            <option value="138">Guam</option>
                                            <option value="39">Guatemala</option>
                                            <option value="139">Guinea</option>
                                            <option value="140">Guinea-bissau</option>
                                            <option value="141">Guyana</option>
                                            <option value="142">Haiti</option>
                                            <option value="143">Heard and Mc Donald Islands</option>
                                            <option value="144">Honduras</option>
                                            <option value="40">Hong Kong</option>
                                            <option value="41">Hungary</option>
                                            <option value="145">Iceland</option>
                                            <option value="42">India</option>
                                            <option value="43">Indonesia</option>
                                            <option value="146">Iran (Islamic Republic of)</option>
                                            <option value="147">Iraq</option>
                                            <option value="44">Ireland</option>
                                            <option value="45">Israel</option>
                                            <option value="46">Italy</option>
                                            <option value="47">Jamaica</option>
                                            <option value="48">Japan</option>
                                            <option value="49">Jordan</option>
                                            <option value="50">Kazakhstan</option>
                                            <option value="148">Kenya</option>
                                            <option value="149">Kiribati</option>
                                            <option value="150">Korea</option>
                                            <option value="51">Korea, Democratic People's Republic of</option>
                                            <option value="52">Kuwait</option>
                                            <option value="151">Kyrgyzstan</option>
                                            <option value="152">Lao People's Democratic Republic</option>
                                            <option value="153">Latvia</option>
                                            <option value="154">Lebanon</option>
                                            <option value="155">Lesotho</option>
                                            <option value="156">Liberia</option>
                                            <option value="157">Libyan Arab Jamahiriya</option>
                                            <option value="158">Liechtenstein</option>
                                            <option value="159">Lithuania</option>
                                            <option value="160">Luxembourg</option>
                                            <option value="161">Macau</option>
                                            <option value="162">Macedonia</option>
                                            <option value="163">Madagascar</option>
                                            <option value="164">Malawi</option>
                                            <option value="53">Malaysia</option>
                                            <option value="165">Maldives</option>
                                            <option value="166">Mali</option>
                                            <option value="167">Malta</option>
                                            <option value="168">Marshall Islands</option>
                                            <option value="169">Martinique</option>
                                            <option value="170">Mauritania</option>
                                            <option value="171">Mauritius</option>
                                            <option value="172">Mayotte</option>
                                            <option value="54">Mexico</option>
                                            <option value="173">Micronesia</option>
                                            <option value="174">Moldova</option>
                                            <option value="175">Monaco</option>
                                            <option value="176">Mongolia</option>
                                            <option value="177">Montenegro</option>
                                            <option value="178">Montserrat</option>
                                            <option value="179">Morocco</option>
                                            <option value="180">Mozambique</option>
                                            <option value="181">Myanmar</option>
                                            <option value="182">Namibia</option>
                                            <option value="183">Nauru</option>
                                            <option value="184">Nepal</option>
                                            <option value="55">Netherlands</option>
                                            <option value="185">Netherlands Antilles</option>
                                            <option value="186">New Caledonia</option>
                                            <option value="56">New Zealand</option>
                                            <option value="187">Nicaragua</option>
                                            <option value="188">Niger</option>
                                            <option value="189">Nigeria</option>
                                            <option value="190">Niue</option>
                                            <option value="191">Norfolk Island</option>
                                            <option value="192">Northern Mariana Islands</option>
                                            <option value="57">Norway</option>
                                            <option value="193">Oman</option>
                                            <option value="58">Pakistan</option>
                                            <option value="194">Palau</option>
                                            <option value="59">Palestine</option>
                                            <option value="195">Panama</option>
                                            <option value="196">Papua New Guinea</option>
                                            <option value="60">Paraguay</option>
                                            <option value="61">Peru</option>
                                            <option value="62">Philippines</option>
                                            <option value="197">Pitcairn</option>
                                            <option value="63">Poland</option>
                                            <option value="64">Portugal</option>
                                            <option value="65">Puerto Rico</option>
                                            <option value="66">Qatar</option>
                                            <option value="198">Reunion</option>
                                            <option value="67">Romania</option>
                                            <option value="68">Russian Federation</option>
                                            <option value="199">Rwanda</option>
                                            <option value="200">Saint Kitts and Nevis</option>
                                            <option value="201">Saint Lucia</option>
                                            <option value="202">Saint Vincent and the Grenadines</option>
                                            <option value="203">Samoa</option>
                                            <option value="204">San Marino</option>
                                            <option value="205">Sao Tome and Principe</option>
                                            <option value="69">Saudi Arabia</option>
                                            <option value="206">Senegal</option>
                                            <option value="87">Serbia</option>
                                            <option value="207">Seychelles</option>
                                            <option value="208">Sierra Leone</option>
                                            <option value="70">Singapore</option>
                                            <option value="71">Slovakia (Slovak Republic)</option>
                                            <option value="72">Slovenia</option>
                                            <option value="209">Solomon Islands</option>
                                            <option value="210">Somalia</option>
                                            <option value="73">South Africa</option>
                                            <option value="211">South Georgia &amp; South Sandwich Islands</option>
                                            <option value="212">South Sudan</option>
                                            <option value="74">Spain</option>
                                            <option value="213">Sri Lanka</option>
                                            <option value="214">St. Helena</option>
                                            <option value="215">St. Pierre and Miquelon</option>
                                            <option value="216">Sudan</option>
                                            <option value="217">Suriname</option>
                                            <option value="218">Svalbard and Jan Mayen Islands</option>
                                            <option value="219">Swaziland</option>
                                            <option value="75">Sweden</option>
                                            <option value="76">Switzerland</option>
                                            <option value="220">Syrian Arab Republic</option>
                                            <option value="77">Taiwan</option>
                                            <option value="221">Tajikistan</option>
                                            <option value="222">Tanzania</option>
                                            <option value="78">Thailand</option>
                                            <option value="223">Togo</option>
                                            <option value="224">Tokelau</option>
                                            <option value="225">Tonga</option>
                                            <option value="226">Trinidad and Tobago</option>
                                            <option value="227">Tunisia</option>
                                            <option value="79">Turkey</option>
                                            <option value="228">Turkmenistan</option>
                                            <option value="229">Turks and Caicos Islands</option>
                                            <option value="230">Tuvalu</option>
                                            <option value="231">Uganda</option>
                                            <option value="80">Ukraine</option>
                                            <option value="81">United Arab Emirates</option>
                                            <option value="82">United Kingdom</option>
                                            <option value="83">United States minor outlying islands</option>
                                            <option value="84">Uruguay</option>
                                            <option value="85">Uzbekistan</option>
                                            <option value="232">Vanuatu</option>
                                            <option value="233">Vatican City State (Holy See)</option>
                                            <option value="86">Venezuela</option>
                                            <option value="234">Viet Nam</option>
                                            <option value="235">Virgin Islands (British)</option>
                                            <option value="236">Virgin Islands (U.S.)</option>
                                            <option value="237">Wallis and Futuna Islands</option>
                                            <option value="238">Western Sahara</option>
                                            <option value="239">Yemen</option>
                                            <option value="240">Zambia</option>
                                            <option value="241">Zimbabwe</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 277px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-BillingAddress_CountryId-container"><span class="select2-selection__rendered" id="select2-BillingAddress_CountryId-container" title="Select Country">Select Country</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row  mt-1">
                                <div class="col-md-2 text-right">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="Password" class="form-control s-12 " type="password" id="Password" name="Password">
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <label for="StateProvinceId">State</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="select2 select2-hidden-accessible" type="text" id="BillingAddress_StateProvinceId" name="BillingAddress.StateProvinceId" tabindex="-1" aria-hidden="true">
                                            <option>Select State</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 99px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-BillingAddress_StateProvinceId-container"><span class="select2-selection__rendered" id="select2-BillingAddress_StateProvinceId-container" title="Select State">Select State</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>

                            </div>


                            <div class="row  mt-1">
                                <div class="col-md-2 text-right">
                                    <label>Contact No.</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="Customer's Contact no." class="form-control s-12 " type="text" id="BillingAddress_PhoneNumber" name="BillingAddress.PhoneNumber" value="">
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <label>City</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="City" class="form-control s-12 " type="text" id="BillingAddress_City" name="BillingAddress.City" value="">
                                    </div>
                                </div>

                            </div>

                            <div class="row  mt-1">
                                <div class="col-md-2 text-right">
                                    <label>Role</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="select2 select2-hidden-accessible" data-val="true" data-val-required="The Id field is required." id="CustomerRole_Id" name="CustomerRole.Id" tabindex="-1" aria-hidden="true">
                                            <option value="0">Select Roles</option>
                                            <option value="2">Supplier</option>
                                            <option value="1">Vendor</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 101px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-CustomerRole_Id-container"><span class="select2-selection__rendered" id="select2-CustomerRole_Id-container" title="Select Roles">Select Roles</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <label>Zip Code</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input placeholder="440002" class="form-control s-12 " type="text" id="BillingAddress_ZipPostalCode" name="BillingAddress.ZipPostalCode" value="">
                                    </div>
                                </div>
                            </div>-->

                    </div>

                </div>
            </div>
        </div>

    </div>

</form>



