
.margin-right5 {
    margin-right: 5px;
}

.margin-right10{
    margin-right:10px;
}

.margin-right20 {
    margin-right: 20px;
}
.margin-right30 {
    margin-right: 30px;
}
.margin-right40 {
    margin-right: 40px;
}
.margin-right50 {
    margin-right: 50px;
}